@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a simple web app powered by ASP.NET Web MVC that allows users to come in and record different restaurants and rate them.</p>
    <p>
        @Html.ActionLink("Learn More", "About", null, new {  @class = "btn btn-primary btn-lg"})
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the navbar button link to rate a restaurant or click on the button below.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44357/Restaurant/index">Rate a Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more Information</h2>
        <p>Click here to learn more about Restaurant Rater</p>
        <p><a class="btn btn-default" href="https://localhost:44357/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get In Touch</h2>
        <p>Click here to contact the owners of Restaurant Rater with your comments/concerns.</p>
        <p><a class="btn btn-default" href="https://localhost:44357/Home/Contact">Contact &raquo;</a></p>
    </div>
</div>